@-webkit-keyframes ticker {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  99%{
    opacity: 1;
  }

  100% {
    opacity:0;
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  99%{
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }
}

.ticker-wrap {
  
  /*bottom: 0;*/
  width: 80vw;
  max-width: 80vw;
  overflow: hidden;
  /*height: 4rem;*/
  background-color: rgba(#000, 0.9); 
  padding-left: 100%;  // offset items to begin 
  
}

.ticker {
    
  display: inline-block;
  height: 2em;
  line-height: 4rem;  
  white-space: nowrap; // display items in a line
  padding-right: 100%; // ensure items go before animations repeat (taken from parent due to inline-block)
  
  -webkit-animation-iteration-count: infinite; 
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
 -webkit-animation-name: ticker;
         animation-name: ticker;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;

}


.ticker__item {
    
    display: inline-block;
    
  }